.header {
    height: 80px;
    background-color: #434343;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky; // For Safari 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.headerLogo {
    max-height: 50px;
    margin: 0 0 0 10px;
}

.headerText {
    font-size: clamp(0.5rem, 2vw + 1rem, 1.5rem);
    color: #ffffff;
}

.divider {
height: 40px;
color: #ffffff;
margin: 0 0 0 20px;
}

.headerNav {
align-items: center;
display: flex;
flex-direction: row;
}
.headerRight {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0;
    max-width: 300px;
}
.buttonContainer {
    width:100px;
    text-align: center;
}