.input {
    box-sizing: border-box;
    text-align: center;
    border:none;
    outline:none;
    border: 1px solid transparent;
    background-color: #7b7777;
    color:#ffffff;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: textfield;

        &::placeholder {
            color: #ffffff;
            font-size: 15px;
        }

        &:hover,
        &:focus,
        &:not(.hasValue) {
            border: 1px solid #ffffff;
        }

        &.hasValue:not(:focus):not(:hover) {
            border: 1px solid transparent;
        }
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    outline: none;
    border: none;
    color: #7b7777;
    background-color: #ffffff;
    text-align: center;

    &:hover {
        background-color: #434343;
        color: #ffffff;
    }

    &:focus {
        outline: none;
    }
}