.rankDisplay {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    height: 70px;
}

.rankImg {
    height: 70px;
}

.text {
    color: #ffffff;
}