.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    margin: auto;

    .input {
        height: 40px;
        border: 1px solid #ffffff;
        font-size: 20px;
        text-align: center;
        background-color: #7b7777;
        color: #ffffff;

        &::placeholder {
            color: #ffffff;
        }

        &:focus {
            outline: none;
        }
    }

    .checkboxContainer {
        display: flex;
        align-items: center;
        gap: 10px;

        input[type='checkbox'] {
            display: none;
            & + label {
                display: flex;
                align-items: center;
                justify-content: center; // Center the content inside the label
                min-width: 40px;
                height: 40px;
                background-color: #7b7777;
                border: 1px solid #ffffff;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
                box-sizing: border-box;
    
                &:after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 20px;
                    border: solid #ffffff;
                    border-width: 0 4px 4px 0;
                    transform: rotate(45deg);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    opacity: 0; // Hide the tick by default
                }
            }
    
            &:checked + label {
                background-color: #7b7777;
                border: none;
    
                &:after {
                    opacity: 1; // Show the tick when checked
                }
            }
        }

        label {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

        }
        .label {
            text-align: center;
            display: inline-block;
            color: #ffffff;
            a {
                color: #ffffff;
                text-decoration: underline;
                &:hover {
                    color: #434343;
                }
            }
        }
    }

    .errorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7b7777;
        border: 1px solid #630609;
        min-height: 40px;

        .error {
            font-size: 15px;
            text-align: center;
            display: inline;
            color: #630609;
        }
    }

    .successContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7b7777;
        border: 1px solid #03470d;
        height: 40px;

        .success {
            text-align: center;
            display: inline;
            color: #03470d;
        }
    }
}

.signIn {
    text-align: center;
    color: #ffffff;

    .signInLink {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
            color: #434343;
        }
    }
}

.specificErrorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7b7777;
    border: 1px solid #630609;
    min-height: 40px;

    .specificError {
        font-size: 15px;
        text-align: center;
        display: block;
        color: #630609;
    }
}
