.container {
    display: flex;
    flex-direction: column;
}

.header {
    height: 80px;
    background-color: #434343;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky; // For Safari 
    position: sticky;
    top: 0; 
}



.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.headerLogo {
    height: 60px;
    margin: 0 10px 0 20px;
}

.headerText {
    font-size: clamp(0.5rem, 2vw + 1rem, 1.5rem);
    color: #ffffff;
    margin: 0 10px;
}

.headerRight {
    display: flex;
    align-items: center;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin: 0 20px 0 0;
    z-index: 1002;

    &.open {
        color:#ffffff;
    }
}

.mainContent {
    transition: margin-left 0.3s ease;
    transition: margin-right 0.3s ease;
}

.mainContent.menuOpen {
    margin-left: -200px;
    margin-right: 200px;
}
