.navLink {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: #434343;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.navLink:hover {
    background-color: #ffffff;
    color: #434343;
}