.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto 0 auto;
    width: 200px
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    width: 60%;
    margin: auto;
    gap:20px;
}

.selectRoleText {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.tankIcon {
    grid-area: tank;
    
    &:hover {
        border: 1px solid #ffffff;
    }
}

.dpsIcon {
    grid-area: dps;

    &:hover {
        border: 1px solid #ffffff;
    }
}

.supportIcon {
    grid-area: support;

    &:hover {
        border: 1px solid #ffffff;
    }
}

.roleIcons {
    display: grid;
    grid-template-areas: 
        'tank dps support';
}