.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; 
    width: 600px;
    margin: 10px auto;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.backButton {
    outline: none;
    border: none;
    width: 75px;
    max-width: 75px;
    height: 40px;
    color: #7b7777;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;

    &:hover {
        background-color: #434343;
        color: #ffffff;
    }

    &:focus {
        outline: none;
    }
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 60%;
    margin: auto;
    gap:20px;
}

.rankInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    outline: none;
    border: none;
    width: 300px;
    max-width: 300px;
    height: 40px;
    color: #7b7777;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;

    &:hover {
        background-color: #434343;
        color: #ffffff;
    }

    &:focus {
        outline: none;
    }
}