.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; 
    width: 500px;
    margin: 10px auto;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.backButton {
    outline: none;
    border: none;
    width: 75px;
    max-width: 75px;
    height: 40px;
    color: #7b7777;
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;

    &:hover {
        background-color: #434343;
        color: #ffffff;
    }

    &:focus {
        outline: none;
    }
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 60%;
    margin: auto;
    gap:20px;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.tankIcon {
    grid-area: tankIcon;
    
    &:hover {
        border: 1px solid #ffffff;
    }
}

.tankRank {
    grid-area: tankRank;
    color: #ffffff;
    text-align: center;
}

.dpsIcon {
    grid-area: dpsIcon;

    &:hover {
        border: 1px solid #ffffff;
    }
}

.dpsRank {
    grid-area: dpsRank;
    color: #ffffff;
    text-align: center;
}

.supportIcon {
    grid-area: supportIcon;

    &:hover {
        border: 1px solid #ffffff;
    }
}

.supportRank {
    grid-area: supportRank;
    color: #ffffff;
    text-align: center;
}

.roleIcons {
    display: grid;
    row-gap: 10px;
    grid-template-areas: 
        'tankIcon dpsIcon supportIcon'
        'tankRank dpsRank supportRank';
}