.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; 
    width: 600px;
    margin: 10px auto;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 60%;
    margin: auto;
}

.startingRank {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.startingRankText {
    color: #ffffff;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.text {
    color: #ffffff;
    font-size: 20px;
}